@import "variables";
@import "animations";

.home {
    .hero-section {
        height: 100vh;
        min-height: 500px;
        max-height: 800px;
        position: relative;

        .hero-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 800px;
            width: 92%;
            text-align: center;

            h1 {
                font-size: 50px !important;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: $black;
                font-weight: 800;
            }

            p {
                color: $black;
                font-size: 20px;
                width: 100%;
                line-height: 1.7;
                margin-top: 30px;
            }

            button {
                margin-top: 50px;
            }
        }

        .home-hero__socials {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: #212529;
            box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;
            padding: 5px;
            left: 0;

            .home-hero__social {
                width: 50px;

                a {
                    width: 100%;
                    display: block;
                    padding: 10px;
                    transition: background .3s;
                    border-radius: 5px;

                    &:hover {
                        background: rgba(120, 67, 233, .2);
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}