<div class="row hero-section bg-1" id="home" #scrollSection>
    <div class="col-12">
        <div class="hero-content">
            <h1>Hey, I'm Jagan Mohan</h1>
            <p>
                I am a dedicated Front-End Developer with more than half a decade of experience delivering high-quality
                web solutions and having expertise in front-end web development.
            </p>
            <button type="button" class="btn custom-btn" routerLink="/" fragment='projects'>projects</button>
        </div>
        <div class="socials">
            <div class="social">
                <a href="https://www.linkedin.com/in/jaganmohanbishoyi/" title="Jagan Mohan Bishoyi Linkedin Profile"
                    target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/social/linkedin_black.png" alt="" srcset="" class="img-fluid">
                </a>
            </div>
            <div class="social">
                <a href="https://github.com/jaganbishoyi" title="Jagan Mohan Bishoyi Github Profile" target="_blank"
                    rel="noopener noreferrer">
                    <img src="assets/images/social/github_black.png" alt="" srcset="" class="img-fluid">
                </a>
            </div>
            <div class="social">
                <a href="https://medium.com/@jaganmohanbishoyi" title="Jagan Mohan Bishoyi Medium Profile"
                    target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/social/medium_black.png" alt="" srcset="" class="img-fluid">
                </a>
            </div>
            <div class="social">
                <a href="mailto:jaganmohanbishoyi@gmail.com" title="Jagan Mohan Bishoyi Email" rel="noopener noreferrer"
                    target="_blank">
                    <img src="assets/images/social/email_black.png" alt="" srcset="" class="img-fluid">
                </a>
            </div>
        </div>
        <div class="mouse-scroll">
            <div class="mouse"></div>
        </div>
    </div>
</div>
