$white: #FFFFFF;
$smoke-white: #F5F5F5;
$lite-while: rgba(245, 245, 245, .6);
$white-shadow: rgba(100, 100, 111, 0.2);
$white-transparent: rgba(255, 255, 255, 0.28);

$black: #000000;
$jet-black: #343434;
$outer-space: #414A4C;
$black-shadow: rgba(0, 0, 0, 0.1);

$gray: #808080;
$dim-gray: #696969;
$platinum: #E5E4E2;

$violet: #9400D3;
$grape: #6F2DA8;
$grape-light: #B89BE4;

$green: #66FF00;
$light-green: #2C6D00;

$blue: #0000FF;
$power-blue: #F0F8FF;

$yellow: #f7df1e;
$light-yellow: #FEFADF;

$red: #ED1556;
$red-light: #FABDCF;

$maroon: #890606;
$light-maroon: #FDCDCD;