<div class="container-fluid" *ngIf="!inValidBlogSlug;else other_content">
    <div class="row blog-details bg">
        <div class="col-12">
            <div class="blog-heading">
                <h1>{{blog.title}}</h1>
                <button type="button" class="btn custom-btn action-btn" routerLink="/blogs">
                    all blogs
                </button>
                <button type="button" class="btn btn-outline-primary btn-outline-theme action-btn"
                    (click)="navigateBack()">
                    Go back
                </button>
            </div>
            <div class="tag">
                <app-tags [tags]="blog.tags"></app-tags>
            </div>
            <div class="author">
                <app-author [content]="blog.author"></app-author>
            </div>
        </div>
    </div>
    <div class="blog-content">
        <div class="row my-5">
            <div class="col-12">
                <app-preview-markdown [path]="'assets/blogs/'+blog.URL"> </app-preview-markdown>
            </div>
        </div>
    </div>
</div>

<ng-template #other_content>
    <div class="container-fluid">
        <div class="row blog-details bg-2">
            <div class="col-12">
                <div class="blog-heading">
                    <h1>Look like you're lost</h1>
                    <p class="mt-3">The page you are looking for is not available!</p>
                    <button type="button" class="btn custom-btn action-btn" routerLink="/blogs">
                        all blogs
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
