@import "variables";

.blog-content {
    margin: 0 40px;
}

.blog-details {
    height: 50vh;
    min-height: 360px;
    position: relative;

    .blog-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 800px;
        width: 92%;
        text-align: center;

        h1 {
            font-size: 3rem !important;
            // text-transform: capitalize;
            letter-spacing: 3px;
            color: $black;
            ;
            font-weight: 800;
            margin: 0 !important;
            line-height: 1.25;
        }

        .action-btn {
            margin: 48px 16px 8px 16px;
        }
    }

    .author {
        position: absolute;
        bottom: 5px;
        right: 30px;
    }
}

@media only screen and (max-width: 710px) {
    .blog-details {
        min-height: 300px;
        height: 30vh;

        .blog-heading {
            h1 {
                font-size: 24px !important;
            }

            .action-btn {
                margin: 30px 16px 0px 16px;
                font-size: 12px;
                padding: 7px 16px;
            }
        }
    }
}

@media only screen and (max-width: $responsive-width) {
    .blog-content {
        margin: 0 20px;
    }
}