@import "../../../../assets/styles/variables";

.avatar {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .info {
        display: flex;
        flex-direction: column;
        text-align: left;

        .name {
            font-size: 1em;
            color: $black;
            font-weight: bold;
        }

        .date {
            font-size: 0.8em;
            color: $jet-black;
        }
    }
}