@import "variables";

.projects-section {
    padding: 70px 0;
    margin: 0 40px;

    .heading {
        text-transform: uppercase;
        letter-spacing: 1px !important;
        text-align: center;
        position: relative;
        color: $black;
        margin-bottom: 50px !important;
        font-weight: 600;

        &::after {
            content: "";
            position: absolute;
            top: calc(100% + 15px);
            height: 5px;
            width: 30px;
            background: $theme-color;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
        }
    }

    .intro {
        text-align: center;
        max-width: 100%;
    }
}

@media only screen and (max-width: $responsive-width) {
    .projects-section {
        margin: 0 20px;
    }
}