<div class="row about-section" id="about" #scrollSection>
    <div class="col-12 p-0">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="heading">about me</h1>
                <p class="intro">
                    Here you will find some of the personal and clients projects that I created with each project
                    containing its own case study
                </p>
            </div>
        </div>
        <div class="row details">
            <div class="col-12 col-md-7 know-me">
                <h4 class="title">Get to know me!</h4>
                <p>
                    Hello there, and welcome to my world of web development! I'm a <b>Frontend Web Developer</b> with a
                    passion for crafting the visual and interactive aspects of websites and <b>web applications</b>. I
                    firmly believe that a great <b>frontend</b> not only enhances <b>user experiences</b> but also paves
                    the way for the overall success of a digital product.
                </p>
                <p>
                    In the <b>Projects section</b>, you can get a glimpse of my work, where I've been fortunate enough
                    to contribute to various <b>web ventures</b>. From sleek and intuitive user interfaces to
                    <b>efficient and responsive designs</b>, I've had the privilege of playing a role in shaping the
                    digital landscape.
                </p>
                <p>
                    Beyond the <b>coding</b> and <b>design</b>, I'm all about sharing the knowledge and insights I've
                    gathered throughout my journey in web development. I believe in giving back to the Dev Community,
                    and you can find me on <a href="https://www.linkedin.com/in/jaganmohanbishoyi/" target="_blank"
                        rel="noopener noreferrer" class="linkedin">Linkedin</a>, where I share valuable content related
                    to <b>web development</b> and <b>programming</b>. Feel free to <b>connect</b> or follow me to stay
                    updated on the latest trends, tips, and tricks in the industry.
                </p>
                <p>
                    I'm always on the lookout for exciting job <b>opportunities</b> that challenge me, allow me to
                    learn, and offer room for growth. If you've got an opportunity that aligns with my <b>skills</b> and
                    <b>experience</b>, don't hesitate to reach out. Let's <b>connect</b>, collaborate, and build
                    something amazing together.
                </p>
                <button type="button" class="btn custom-btn" routerLink="/" fragment='contact'>contact</button>
            </div>
            <div class="col-12 col-md-5 skills">
                <h4 class="title">My Skills</h4>
                <div class="class-list">
                    <span *ngFor="let skill of skills" class="skill">{{skill}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
