@import "variables";

.about-section {
    padding: 70px 0;
    margin: 0 40px;

    .heading {
        font-size: 40px !important;
        text-transform: uppercase;
        letter-spacing: 1px !important;
        text-align: center;
        position: relative;
        color: $black;
        margin-bottom: 50px !important;
        font-weight: 600;

        &::after {
            content: "";
            position: absolute;
            top: calc(100% + 15px);
            height: 5px;
            width: 30px;
            background: $theme-color;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
        }
    }

    .intro {
        text-align: center;
        color: $black;
        font-size: 20px;
        font-weight: 500;
        max-width: 100%;
        line-height: 1.6;
        margin-bottom: 70px !important;
    }

    .details {
        .know-me {
            margin-top: 20px;

            .title {
                font-weight: 700;
                font-size: 28px !important;
                margin-bottom: 25px !important;
            }

            p {
                font-size: 18px;
                color: $black;
                max-width: 100%;
                line-height: 1.5;
                margin-bottom: 15px !important;
                text-align: justify;
            }

            button {
                margin-top: 20px;
            }
        }

        .skills {
            margin-top: 20px;

            .title {
                font-weight: 700;
                font-size: 28px !important;
                margin-bottom: 25px !important;
            }

            .class-list {
                display: flex;
                flex-wrap: wrap;

                .skill {
                    padding: 10px 25px;
                    margin-bottom: 15px;
                    margin-right: 15px;
                    font-size: 14px;
                    background: rgba(153, 153, 153, 0.2);
                    border-radius: 5px;
                    font-weight: 600;
                    color: $black;
                    font-family: $header-font;
                }
            }
        }
    }

    .linkedin {
        text-decoration: underline;
        font-weight: 700;
        color: $theme-color;
        margin: 0 3px;
    }
}

@media only screen and (max-width: $responsive-width) {
    .about-section {
        margin: 0 20px;
    }
}