<div class="row mb-5" id="contact" #scrollSection>
    <div class="col-12">
        <div class="contact-section">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <h1 class="heading">contact</h1>
                    <p class="intro">
                        Feel free to contact me on my email address or public profiles.
                    </p>
                </div>

                <div class="col-12 col-md-8">
                    <div class="contact-container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="image-container img-gradient">
                                    <img src="assets/images/me.png" alt="" srcset="" class="img-fluid">
                                </div>
                                <h4 class="email">
                                    <a href="mailto:jaganmohanbishoyi@gmail.com">jaganmohanbishoyi@gmail.com</a>
                                </h4>
                            </div>
                            <div class="col-12">
                                <div class="socials">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/jaganmohanbishoyi/"
                                            title="Jagan Mohan Bishoyi Linkedin Profile" target="_blank"
                                            rel="noopener noreferrer">
                                            <img src="assets/images/social/linkedin_black.png" alt="" srcset=""
                                                class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="social">
                                        <a href="https://github.com/jaganbishoyi"
                                            title="Jagan Mohan Bishoyi Github Profile" target="_blank"
                                            rel="noopener noreferrer">
                                            <img src="assets/images/social/github_black.png" alt="" srcset=""
                                                class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="social">
                                        <a href="https://medium.com/@jaganmohanbishoyi"
                                            title="Jagan Mohan Bishoyi Medium Profile" target="_blank"
                                            rel="noopener noreferrer">
                                            <img src="assets/images/social/medium_black.png" alt="" srcset=""
                                                class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="social">
                                        <a href="mailto:jaganmohanbishoyi@gmail.com" title="Jagan Mohan Bishoyi Email"
                                            target="_blank" rel="noopener noreferrer">
                                            <img src="assets/images/social/email_black.png" alt="" srcset=""
                                                class="img-fluid">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
