<div class="footer">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="content">
                <h5>Jagan Mohan Bishoyi</h5>
                <p class="mb-2">
                    I am a dedicated Front-End Developer with 6 years of experience delivering high-quality web
                    solutions having expertise in front-end development and responsive design.
                </p>
                <p>
                    I’m an enthusiastic collaborator, and a fast learner with creative problem-solving skills, good
                    coding, and excellent communication skills. Adept at collaborating with cross-functional teams and
                    excelling in evolving roles within a single company.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="content social">
                <h5>Social</h5>
                <div class="social">
                    <a href="https://www.linkedin.com/in/jaganmohanbishoyi/"
                        title="Jagan Mohan Bishoyi Linkedin Profile" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/social/linkedin_white.png" alt="" srcset="" class="img-fluid">
                    </a>
                    <a href="https://github.com/jaganbishoyi" title="Jagan Mohan Bishoyi Github Profile" target="_blank"
                        rel="noopener noreferrer">
                        <img src="assets/images/social/github_white.png" alt="" srcset="" class="img-fluid">
                    </a>
                    <a href="https://medium.com/@jaganmohanbishoyi" title="Jagan Mohan Bishoyi Medium Profile"
                        target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/social/medium_white.png" alt="" srcset="" class="img-fluid">
                    </a>
                    <a href="mailto:jaganmohanbishoyi@gmail.com" title="Jagan Mohan Bishoyi Email" target="_blank"
                        rel="noopener noreferrer">
                        <img src="assets/images/social/email_white.png" alt="" srcset="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 copy-right">
            <p>
                © Copyright {{currentYear}}. Made by <a href="https://jaganb.dev/">Jagan Mohan Bishoyi</a> with
                <img src="assets/images/heart.png" alt="" srcset="" class="img-fluid">
            </p>
        </div>
    </div>
</div>
