<div class="row bg-1" id="blog" #scrollSection>
    <div class="col-12">
        <div class="projects-section">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="heading">Featured Blogs</h1>
                    <p class="intro">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolor sunt delectus rem earum,
                        in facere vero eos esse? Id?
                    </p>
                    <button type="button" class="btn btn-outline-primary btn-outline-theme my-5" routerLink="/blog">
                        See All Blogs
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, placeat dolore libero nemo expedita
                    quas iure, veritatis excepturi at suscipit eos totam maxime ad iusto voluptate atque exercitationem,
                    debitis quae! Molestias dolores explicabo officia modi, earum hic beatae dignissimos? Harum quaerat
                    possimus, dolorum sunt consequuntur tenetur nisi debitis minus voluptatum.
                </div>
            </div>
        </div>
    </div>
</div>
