@import "variables";

@mixin tag($color1, $color2) {
    .hash {
        color: $color1;
    }

    &:hover {
        background: $color2;
        color: $jet-black;
        box-shadow: inset 0 0 0 1px $color2, inset 0 0 0 1px $color2, inset 0 0 0 1px $color2;
    }
}

.tags {
    display: inline-block;

    .tag {
        margin: 0 10px 0 0;
        cursor: pointer;
        background: transparent;
        color: $jet-black;
        border-radius: 0.4rem;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        flex-wrap: nowrap;
        transition: all cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
        padding: clamp(0.25rem, 0.25em, 0.5em) 0.5em;
        border: 1px solid transparent;
        font-size: 16px;
        line-height: 1.5;

        &:first-child {
            margin-left: 0;
        }

        &.tag-1 {
            @include tag($blue, $power-blue);
        }

        &.tag-2 {
            @include tag($grape, $grape-light);
        }

        &.tag-3 {
            @include tag($maroon, $light-maroon);
        }

        &.tag-4 {
            @include tag($yellow, $light-yellow);
        }

        &.tag-5 {
            @include tag($black, $black-shadow);
        }

        &.tag-6 {
            @include tag($red, $red-light);
        }

    }
}