@import "variables";

.single-blog {
    background: $white;
    margin: 0 0 1rem;
    position: relative;
    border-radius: 7px;
    padding: 1.25rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    .blog-title {
        color: $black;
        overflow-wrap: break-word !important;
        overflow-wrap: anywhere;
        word-break: break-word;
        margin-bottom: 0.25rem !important;
        display: inline-block !important;

        a {
            color: inherit;
            display: block;
            text-decoration: none;
        }

        &:hover {
            color: $violet;
        }
    }
}