@import "variables";

.project {
    padding: 60px 0;
    border-bottom: 1px dotted $outer-space;

    .image-container {
        overflow: hidden;

        img {
            width: 100%;
            display: block;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .project-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .project {
        .project-desc {
            .project-container {
                text-align: center;
            }
        }
    }
}