@import "variables";

markdown {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $header-font !important;
        font-weight: 600;
        line-height: 1.25;
        padding: 0;
        margin: calc(1.25rem / 2) 0 !important;
    }

    h1 {
        font-size: 1.75em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.25em !important;
    }

    h4 {
        font-size: 1em !important;
    }

    h5 {
        font-size: 0.875em !important;
    }

    h6 {
        font-size: 0.85em !important;
        color: $gray !important;
    }

    /* Paragraphs */
    p {
        color: $black;
        margin: 0 0 0.5rem 0 !important;
        overflow-wrap: break-word;
    }

    /* Links */
    a {
        color: $blue;
        text-decoration: underline;
        overflow-wrap: break-word;

        &:hover,
        &:focus {
            color: $violet;
        }
    }

    /* Lists */
    ul,
    ol {
        padding-left: 1.5em;
        font-size: 16px;
        color: $black;
        margin: 0 0 1.25rem 0 !important;
        overflow-wrap: break-word;

        li {
            margin: 0;
        }
    }


    /* Tables */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 2em 0;
        color: $black;

        th,
        td {
            padding: 0.5em 0.75em;
            border: 1px solid $platinum;
            text-align: left;
        }

        th {
            background-color: $smoke-white;
            font-weight: 700;
        }

        td {
            background-color: $white;
        }
    }


    /* Images */
    img {
        max-width: 100%;
        height: auto;
        margin: 1.5em 0;
        border-radius: 4px;
    }

    /* Horizontal Rules */
    hr {
        border: none;
        border-top: 1px solid $platinum;
        margin: 2em 0;
    }

    /* Blockquotes */
    blockquote {
        border-left: 4px solid $platinum;
        padding: 0.5em 1.5em;
        margin: 1.5em 0;
        color: $gray;
        font-style: italic;
        background-color: $smoke-white;

        * {
            margin-bottom: 0 !important;
        }
    }

    code {
        font-size: 95%;
    }

    .markdown-clipboard-toolbar {
        z-index: unset !important;

        .markdown-clipboard-button {
            background-color: $black;
            border: none;
            border-radius: 4px;
            color: $white;
            cursor: pointer;
            font-size: 11px;
            padding: 4px 0;
            width: 50px;
            transition: all 250ms ease-out;
            line-height: 20px;
            font-weight: 900;

            &:hover {
                background-color: $dim-gray;
            }

            &:active {
                transform: scale(0.95);
            }

            &.copied {
                background-color: $light-green;
                color: $green;
            }
        }
    }
}