@import "colors";

$header-height: 60px;
$footer-height: 50px;
$header-height-responsive-view: 60px;
$aside: 20%;
$responsive-width: 820px;

$body-font: "Roboto", sans-serif !default;
$header-font: "Open Sans", sans-serif !default;