@import "../../../../assets/styles/variables";

.blog-container {
    min-height: 90vh;

    .blogs {
        .search {
            margin-bottom: 25px;

            input {
                height: 42px;

                &:focus {
                    box-shadow: none;
                    border-color: $violet;
                }
            }
        }
    }

    .no-data {
        margin: 0 0 1rem;
        padding: 2.5rem 1.25rem;
        text-align: center;
    }

    @media only screen and (max-width: 768px) {
        .side-nav {
            margin: 40px 0 20px 0 !important;
        }

        .blogs {
            margin: 10px 0 20px 0 !important;
            border-top: 1px dashed $black;
            padding-top: 30px;
        }
    }
}